<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="navbar-header">
            <!--<a class="navbar-brand" href="home">Home</a>
            <a class="navbar-brand" href="pdemo">Pipe Demo</a>
            <a class="navbar-brand" href="add">New Employee</a>  
            <a class="navbar-brand" href="rest">Rest Demo</a>
            <a class="navbar-brand" href="service">Service</a>  -->
            <a class="navbar-brand" [routerLink]="['/add']">New Employee</a>
            <a class="navbar-brand" [routerLink]="['/rest']">Get All Employee</a>
            <a class="navbar-brand" [routerLink]="['/service']">Services</a>
        </div>
    </div>
</nav>